.yellow-back{
  background-color: rgb(232, 209, 62);
  --link-btn-color:rgb(232, 209, 62);
  color: #fff;
}

.light-yellow-back{
  background-color: rgb(232, 227, 194);
  --link-btn-color:rgb(232, 227, 194);
  color: #fff;
}

.medium-yellow-back{
  background-color: rgb(235, 223, 142);
  --link-btn-color:rgb(235, 223, 142);
  color: #fff;
}