<h1>泥酔ストッパー</h1>

<p><%= @user.name %>さん</p>

<p>
泥酔ストッパーへの登録ありがとうございます！ 以下のリンクにアクセスしてアカウントの有効化をお願いします。
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>