<h1>パスワード再設定</h1>

<p><%= @user.name %>さん</p>

<p>
以下のリンクにアクセスしてパスワードの再設定をお願いします。
</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>
                                            
<p>このリンクの有効期限は2時間です。</p>

<p>
パスワード再設定のリクエストを行っていない場合、本メールは無視してください。
</p>